@import "tailwindcss";
@import "./fonts.css";

@layer base {

	* {
		font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	body { @apply
		bg-background text-foreground;
	}
	body, #gemabank { @apply
		min-h-screen;
	}

	h1 { @apply
		w-fit max-w-full
		text-3xl font-semibold
	}
	h2 { @apply
		w-fit max-w-full
		text-2xl font-semibold
	}
	h3 { @apply
		w-fit max-w-full
		text-xl font-semibold
	}

	strong { @apply
		font-medium
	}

	:root {

		/** Colors */
			--background:  oklch( 1      0       0    );
			--foreground:  oklch( 0.252  0       0    );

			--brand:       oklch( 0.5736 0.2029 27.89 );
			--brand-dark:  oklch( 0.5069 0.192  28.76 );
			--brand-deep:  oklch( 0.4506 0.1632 28.29 );

			--nymph:       oklch( 0.9487 0.0119 51.32 );
			--nymph-embra: oklch( 0.9688 0.0064 17.27 );

			--gray-light:  oklch( 0.9761 0       0    );
			--gray:        oklch( 0.8761 0       0    );
			--gray-dark:   oklch( 0.6731 0       0    );

		/** Units */
			--px:     0.0625rem;
			--radius: 0.25rem;

			--container: calc(var(--px)*1200);
			--padding:   calc(var(--px)*20);

			/* Main page > Congratulation > title skeleton lines */
			--data-placement-title-before-width: 90%;
			--data-placement-title-after-width: 70%;
	}

	.dark {
		/** Colors */
			--background:  oklch( 0.252  0       0    );
			--foreground:  oklch( 0.8761 0       0    );

			--brand:       oklch( 0.5736 0.2029 27.89 );
			--brand-dark:  oklch( 0.5069 0.192  28.76 );
			--brand-deep:  oklch( 0.4506 0.1632 28.29 );

			--nymph:       oklch( 0.2769 0.0262 18.87 );
			--nymph-embra: oklch( 0.2649 0.0124 26.36 );

			--gray-light:  oklch( 0.3368 0       0    );
			--gray:        oklch( 0.4568 0       0    );
			--gray-dark:   oklch( 0.4568 0       0    );
	}

}

@theme inline {
	/** Colors                                                                                                     */
	--color-background:  var(--background);
	--color-foreground:  var(--foreground);
	--color-brand:       var(--brand);
	--color-brand-dark:  var(--brand-dark);
	--color-brand-deep:  var(--brand-deep);
	--color-nymph:       var(--nymph);
	--color-nymph-embra: var(--nymph-embra);
	--color-gray-light:  var(--gray-light);
	--color-gray:        var(--gray);
	--color-gray-dark:   var(--gray-dark);

	/** Text                                                                                                     **\
	|  ——————————————————————————————————————————————————————————————————————————————————————————————————————————  |
	|                    size                   weight                         line-height                         |
	\* —————————————————————————————————————————————————————————————————————————————————————————————————————————— */
	/* 2xl          */ --text-2xl:  1.5rem;   --text-2xl--font-weight:  500; --text-2xl--line-height:  2rem;
	/* 3xl          */ --text-3xl:  1.75rem;  --text-3xl--font-weight:  500; --text-3xl--line-height:  2rem;
}

@layer utilities {
	.scrollbar-hidden {
		-ms-overflow-style: none; /* IE и Edge */
		scrollbar-width: none;    /* Firefox */
	}
	.scrollbar-hidden::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
	.font-weight-inherit {
		font-weight: inherit;
	}
	.text-balance {
		text-wrap: balance;
	}
	.z-max {
		z-index: 9999;
	}
	.smooth { @apply
		transition-all duration-250
	}
	.skeleton { @apply
		transition-all duration-250 animate-pulse bg-gray-light
	}
	.skeleton-text-base { @apply
		rounded-xs
		h-4
	}
	.skeleton-text-h1 { @apply
		rounded-md
		h-8
	}
}